[Unit]
Description=ROS 2 BPC-PRP SUDO Nodes Launcher
After=network.target

[Service]
Environment="ROS_DOMAIN_ID=0"
ExecStart=/usr/bin/bash -c 'source /opt/ros/humble/setup.bash; source /home/rpi/bpc-prp-devel/raspberry_pi_sw/ros2_ws/install/setup.bash; ros2 launch launch/sudo_launch_all.launch.py'
WorkingDirectory=/home/rpi/bpc-prp-devel/raspberry_pi_sw/ros2_ws
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
